extends layout

block content
    h1(style="text-align:center;") ESS.IO
    h2(style="text-align:center;") minimal url shortener
    div(style="align:center; margin: auto")
        input(style="display:block; text-align:center; margin:0 auto;", type="text", placeholder="url")
        button(style="display:block; margin:0 auto;", href=url) Shorten