extends layout

block content
    include ad.jade
    if url
        a(style="display:block; text-align:center; margin:0 auto;", href=url) Continue
    else
        p(style="display:block; text-align:center; margin:0 auto;") Nothing here